:root{
    --main-black: rgb(0, 0, 0);
    --main-white: rgb(255, 255, 255);
    --main-hover: #2196F3;
    --transition-duration: 1000ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --hero-background: #DCE5E2;
}

body {
    font-family: 'Readex Pro', 'Times New Roman', sans-serif;
    color: var(--main-black);
    background-color: var(--main-white);
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* Common blocks */
.container{
    display: flex;
    padding: 0 73px;
    margin-left: auto;
    margin-right: auto;
}

.section-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 72px;
}

.section-header {
    font-size: 42px;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 9px;
}

.section-header-description {
    width: 628px;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 55px;
}

/* Remove default style */

.link {
    text-decoration: none;
    color: inherit;
    font-style: normal;
}

.list {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    color: inherit;
    padding: 0;
}

/* Main header */

.container.main-header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-white);
    border-bottom: 1px solid #ECECEC;;
}
.main{
    padding-top: 95px;
}
.main-header > .logo{
    width: 170px;
    height: 21px;
    margin-right: 285px;
}
.main-nav{
    display: flex;
    align-items: center;
    gap: 35px;
}
.menu-item{
    padding-top: 31px;
    padding-bottom: 32px;
    font-family: 'Inter', 'Times New Roman', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--main-black);

    cursor: pointer;

    transition-property: color, fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.main-nav > .menu-item:nth-child(2){
    display: flex;
    align-items: center;
    gap: 4px;
}

.main-nav > .menu-item:nth-child(3){
    margin-right: 44px;
}

.fast-icons{
    display: flex;
    gap: 22px;
}

.main-header .menu-item:hover{
    color: var(--main-hover);
    fill: var(--main-hover)
}

/* Hero section */

.hero{
    position: relative;
    max-width: 1294px;
    max-height: 550px;
    background-color: var(--hero-background);
    border-radius: 32px;
    overflow: hidden;
    margin: 0 auto;
}

.link.to-left{
    position: absolute;
    left: 19px;
    top: 50%;
    bottom: 50%;
}

.link.to-right {
    position: absolute;
    right: 19px;
    top: 50%;
    bottom: 50%;
}

.link.to-left, .link.to-right {
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.link.to-left:hover, .link.to-right:hover{
    fill: var(--main-hover);
}

.hero-items{
    display: flex;
    align-items: center;
}

.hero-img{
    min-width: 647px;
    min-height: 550px;
}

.hero-description{
    padding-left:  56px;
    padding-right: 3px;
    user-select: none;
}

.hero-header{
    font-size: 58px;
    line-height: 1.2;
    margin-bottom: 19px;
}
.hero-text{
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 30px;
}
.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 200px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;

    transition-property: background-color, color, border;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    cursor: pointer;
}

.hero-btn:hover{
    background-color: var(--main-hover);
    color: var(--main-white);
    border: none;
}

.decorative-lines{
    position: absolute;
    bottom: 34px;
    left: 50%;
    right: 50%;

    width: max-content;
    display: flex;
    gap: 34px;

    transform: translateX(-50%);
}

.decorative-line{
    display: block;
    min-width: 194px;
    height: 2px;
    background-color: #000000;
}

/* Letest offers and categories section */
.latest-offers-container{
    flex-direction: column;
}


.list.lates-offers-list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 1294px;
    gap: 15px;
    margin: 0 auto;
    padding-bottom: 28px;
}

.lates-offers-list-item{
    display: flex;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.lates-offers-list-product{
    font-family: 'Inter', 'Times New Roman', sans-serif;
    font-size: 15px;
    line-height: 1.28;
}
.lates-offers-list-slogan {
    font-size: 32px;
    line-height: 1.2;
}

.lates-offers-list-item:nth-child(1){
    flex-direction: column;
    width: 639px;
    height: 472px;
    padding: 0 42px;
}

.lates-offers-list-item:nth-child(1) .lates-offers-list-product, 
.lates-offers-list-item:nth-child(1) .lates-offers-list-slogan{
    text-align: end;
}

.lates-offers-list-item:nth-child(2) {
    flex-direction: column;
    align-items: center;
    width: 312px;
    height: 792px;
    padding: 143px 0px;
}

.lates-offers-list-item:nth-child(2) .lates-offers-list-product,
.lates-offers-list-item:nth-child(2) .lates-offers-list-slogan {
    text-align: center;
}

.lates-offers-list-item:nth-child(2) > .lates-offers-list-description{
    padding-top: 41px;
    padding-left: 31px;
    padding-right: 31px;
}

.lates-offers-list-item:nth-child(3) {
    flex-direction: column;
    align-items: center;
    width: 312px;
    height: 792px;
    padding: 115px 0px;
}

.lates-offers-list-item:nth-child(3) .lates-offers-list-product,
.lates-offers-list-item:nth-child(3) .lates-offers-list-slogan {
    text-align: center;
}

.lates-offers-list-item:nth-child(3)>.lates-offers-list-description {
    padding-bottom: 42px;
    padding-left: 39px;
    padding-right: 39px;
}

.lates-offers-list-item:nth-child(4) {
    position: absolute;
    top: 544px;
    left: 0;
    align-items: center;
    width: 639px;
    height: 270px;
    padding: 0 42px;
}

.lates-offers-list-item:nth-child(4) .lates-offers-list-product,
.lates-offers-list-item:nth-child(4) .lates-offers-list-slogan {
    text-align: end;
}

.lates-offers-list-item:nth-child(4)>.lates-offers-list-description {
    padding-top: 87.5px;
    padding-bottom: 87.5px;
    padding-left: 46px;
}

/* Most seled items section */

.seled-items-container{
    flex-direction: column;
}


.seled-items > .section-description{
    width: max-content;
    margin-bottom: 31px;
}

.seled-items-list{
    display: flex;
    gap: 28px;
    margin: 0 auto;
}

.seled-items-card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 303px;
    height: 396px;
}


.seled-items-card-img{
    width: 100%;
    height: 270px;
    object-fit: none;
    object-position: 50% 50%;
    margin-bottom: 9px;
}

.seled-items-card-header{
    font-size: 22px;
    line-height: 1.25;
    margin-bottom: 9px;
}

.seled-items-card-description{
    font-family: 'Inter';
    font-size: 14px;
    line-height: 1.2;
    color: #4B4B4B;
    margin-bottom: 8px;
}

.seled-items-card-price{
    position: absolute;
    bottom: 0;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
}

/* Section best around here */

.container-best-around-here{
    flex-direction: column;
}